@import "swiper/swiper-bundle.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .toolbar-background {
  background: white !important;
}
#inbox-list {
  background: #faf8f8 !important;
}
.toolbar-background {
  background: #dddddd !important;
}
.alert-radio-label.sc-ion-alert-md {
  color: black !important;
}
 */
ion-menu::part(backdrop) {
    background-color: transparent; 
    
  }
ion-menu::part(container){
  box-shadow:  none !important;
  
  border-bottom-right-radius: 10px;
}